.main-content__container-nogrid{
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 55%;
}
@media screen and (max-width: 1300px)  {
  .main-content__container-nogrid{
    margin-bottom: 40px;
    width: 45%;
    height: 45%;
  }
}
@media screen and (max-width: 650px)  {
  .main-content__container-nogrid{
    margin-bottom: 40px;
    width: 70%;
    height: 70%;
  }
}
@media screen and (max-width: 500px)  {
  .main-content__container-nogrid{
    margin-bottom: 40px;
    width: 80%;
    height: 80%;
  }
}